@charset "utf-8";
* {
	background-color: transparent;
	color: #000;
}

/* navigation start*/
nav {
	background-color: #222222;
	color: white;
}

nav ul {
	display: flex;
	flex-flow: column;
	margin:0;
	padding: 6px;
	list-style-type: none;
}

nav a {
	display: block;
	border-radius: 4px;
	padding: 12px 24px;
	color: white;
	text-decoration: none;
}

nav li a:hover {
	background-color: #8cae47;
}

@media only screen and (min-width:300px) {
  nav ul {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
    
      margin: 0;
      padding: 6px;
      list-style-type: none;
  }
}
/* navigation end */

body {
	padding: 0;
	margin: 0;
}
p { text-indent: 1em; }
.bold { font-weight: bold; }
table {
	border-style: solid;
	border-collapse: collapse;
	border-width: thin;
	margin-bottom: 1em;
	border-color: black;
}
td {
	border-style: solid;
	border-width: thin;
}
th {
	border-style: solid;
	border-width: thin;
}
main {
	padding: 0;
	margin: 0.5em;
}
